numpy
nltk
keras
tensorflow
gensim
pandas
sklearn
h5py
tqdm
pymorphy2
git+https://github.com/facebookresearch/fastText.git@3872afadb3a9f30de7c7792ff2ff1bda64242097
jupyter notebook
lightgbm
matplotlib
requests
jinja2
weasyprint
tensorflow_hub
kenlm
lxml
openpyxl
googletrans
